
html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

/* Height / width / positioning can be customized for your use case.
   For demo purposes, we make the user list 175px and firepad fill the rest of the page. */
#userlist {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  height: auto;
  width: 175px;
}

#firepad {
  position: absolute;
  left: 175px;
  top: 20px;
  bottom: 0;
  right: 0;
  height: auto;
}

.firepad>a {
  display: none;
}

#lang-and-theme {
  position: absolute;
  left: 190px;
  top: 3px;
  bottom: 0;
  right: 0;
  height: auto;
  font-family: monospace;
  font-size: 12px;
}

select {
  font-size: 10px;
}
button {
  font-size: 9px;
}